<div id="canvasDiv" onload="window.alert('dsfd');">
  <canvas id="showCanvas" width=80 height=80></canvas>
  <%= image_tag(@digit.url) %>
</div>
<script>
    addCanvasImage("<%= "/assets/" + @digit.url %>");
</script>
