<div id="canvasDiv">
  <p>Draw digit and click send to get prediction.</p>
  <canvas id="canvas" width=200 height=200></canvas>
  <br/>
  <button id="clear">Clear</button>
  <button id="send">Send</button>
  <br/>
  <%for i in 0..9 %>
    <canvas id="canvas<%=i%>" width=80 height=80></canvas>
  <% end %>
  <br/>
</div>