/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a {
    text-decoration: none;
}

canvas {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
}

#canvasDiv {
    text-align: center;
}
body {
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

footer {
    text-align: right;
    margin-top: 20px;
}

header {
    margin-bottom: 20px;
}

.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.digitImg{
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
}

.digit{
    margin: 1px;
    padding: 3px;
}

#history{
    margin-left: auto;
    margin-right: auto;
}

#singUp{
    color: #c8c8c8;
    font-size: 0.8em;
    margin: 0;
}

.login-input {
    font-size: 0.9em;
    width: 100px;
    height: 12px;
}

.error{
    font-size: 1.2em;
    margin: 4px;
    color: red;
}

#menu {
    font-size: 1.4em;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}