<header>
  <p class="site-title">HANDWRITTEN DIGITS RECOGNIZER SYSTEM</p>
  <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign in", signin_path%>
  <% end %>
</header>