<!DOCTYPE html>
<html>
<head>
  <title>DigitsRecognizer</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      canvas {
          border: 1px solid #ccc;
          margin: 0px;
          padding: 0px;}
      #canvasDiv {
          text-align: center;
       }
      body {
          text-align: center;
          width: 1000px;
          margin-left: auto;
          margin-right: auto
      }
      footer {
          text-align: right;
          margin-top: 20px;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
<footer>
  Copyright© Marek Sadowski
</footer>
</html>
